absl-py==0.12.0
anyio==3.2.0
argon2-cffi==20.1.0
asgiref==3.3.4
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
backoff==1.11.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
bleach==3.3.0
boto3==1.18.44
botocore==1.21.44
bqplot==0.12.29
branca==0.4.2
cachetools==4.2.2
catboost==0.25.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
colour==0.1.5
cryptography==36.0.0
cycler==0.10.0
decorator==5.0.7
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.4
distlib==0.3.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
Django==3.2.3
earthengine-api==0.1.270
entrypoints==0.3
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
filelock==3.0.12
Flask==2.0.2
flast==1.3
flatbuffers==1.12
folium==0.12.1
future==0.18.2
gast==0.3.3
geeadd==0.5.5
geemap==0.8.17
GeoAlchemy==0.7.2
geocoder==1.38.1
geographiclib==1.50
geopy==2.1.0
google-api-core==1.30.0
google-api-python-client==1.12.8
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-core==1.7.0
google-cloud-storage==1.39.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
googledrivedownloader==0.4
graphviz==0.16
greenlet==1.1.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
haversine==2.5.1
heroku==0.1.4
htmlmin==0.1.12
httplib2==0.19.1
httplib2shim==0.0.3
idna==2.6
ImageHash==4.2.1
imbalanced-learn==0.8.1
importlib-metadata==4.8.1
iniconfig==1.1.1
ipyevents==0.8.2
ipyfilechooser==0.4.3
ipykernel==5.5.4
ipyleaflet==0.14.0
ipynb-py-convert==0.4.6
ipython==7.23.1
ipython-genutils==0.2.0
ipytree==0.2.1
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
jsonify==0.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kneed==0.7.0
lightgbm==3.2.1
logzero==1.7.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.1
matplotlib-inline==0.1.2
missingno==0.5.0
mistune==0.8.4
mss==6.1.0
multimethod==1.6
multiprocess==0.70.12.2
munch==2.5.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
notebook==6.3.0
numpy==1.19.5
oauthlib==3.1.0
opencage==2.0.0
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.9
panda==0.3.1
pandas==1.2.4
pandas-access==0.0.1
pandas-profiling==3.1.0
pandocfilters==1.4.3
parso==0.8.2
pathos==0.2.8
pdf2image==1.15.1
phik==0.12.0
pickleshare==0.7.5
Pillow==8.2.0
planet==1.4.6
platformdirs==2.2.0
plotly==4.14.3
pluggy==1.0.0
pox==0.3.0
ppft==1.6.6.4
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.15.8
protobuf3-to-dict==0.1.5
psycopg2==2.8.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyCRS==1.0.2
pydantic==1.8.2
Pygments==2.9.0
pyodbc==4.0.30
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyproj==3.1.0
pyreadr==0.4.2
pyreadstat==1.1.2
pyrsistent==0.17.3
pyshp==2.1.3
pytesseract==0.3.7
pytest==6.2.5
python-box==5.3.0
python-dateutil==1.5
pytz==2021.1
PyWavelets==1.2.0
pywin32==300
pywinpty==0.5.7
PyYAML==6.0
pyzmq==22.0.3
qtconsole==5.1.0
QtPy==1.9.0
ratelim==0.1.6
requests==2.26.0
requests-futures==0.9.7
requests-oauthlib==1.3.0
retrying==1.3.3
reverse-geocoder==1.5.1
rsa==4.7.2
Rtree==0.9.7
s3transfer==0.5.0
sagemaker==2.59.2
sankee==0.0.5
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
sklearn==0.0
smdebug-rulesconfig==1.0.1
sniffio==1.2.0
soupsieve==2.2.1
SQLAlchemy==1.4.17
sqlparse==0.4.1
tangled-up-in-unicode==0.1.0
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.5
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
traittypes==0.2.1
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.22
virtualenv==20.7.2
visions==0.7.4
voila==0.2.10
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==2.0.1
whitebox==1.5.1
whiteboxgui==0.3.0
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==3.0.2
xgboost==1.4.1
xlrd==2.0.1
yellowbrick==1.3.post1
zipp==3.5.0
